# Generate Synthethic Data for Recommender System

In [17]:
from psutil import users
!pip install numpy==1.23.5

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy==1.23.5
  Using cached numpy-1.23.5.tar.gz (10.7 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'

  error: subprocess-exited-with-error

  Getting requirements to build wheel did not run successfully.
  exit code: 1

  [33 lines of output]
  Traceback (most recent call last):
    File "C:\ProgramData\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 353, in <module>
      main()
    File "C:\ProgramData\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 335, in main
      json_out['return_val'] = hook(**hook_input['kwargs'])
                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\ProgramData\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 112, in get_requires_for_build_wheel
      backend = _build_backend()
                ^^^^^^^^^^^^^^^^
    File "C:\ProgramData\anaconda3\Lib\site-packages\pip\_vendor\pyproject_hooks\_in_process\_in_process.py", line 77, in _build_backend
      obj = import_module(mod_path)
            ^^^^^^^^^^^^^^^^^^^^^^^
    File "C:\ProgramData\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
      return _bootstrap._gcd_import(name[level:], package, level)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
    File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
    File "<frozen importlib._bootstrap>", line 1310, in _find_and_load_unlocked
    File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
    File "<frozen importlib._bootstrap>", line 1387, in _gcd_import
    File "<frozen importlib._bootstrap>", line 1360, in _find_and_load
    File "<frozen importlib._bootstrap>", line 1331, in _find_and_load_unlocked
    File "<frozen importlib._bootstrap>", line 935, in _load_unlocked
    File "<frozen importlib._bootstrap_external>", line 995, in exec_module
    File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
    File "C:\Users\Kelly\AppData\Local\Temp\pip-build-env-q8izphvh\overlay\Lib\site-packages\setuptools\__init__.py", line 16, in <module>
      import setuptools.version
    File "C:\Users\Kelly\AppData\Local\Temp\pip-build-env-q8izphvh\overlay\Lib\site-packages\setuptools\version.py", line 1, in <module>
      import pkg_resources
    File "C:\Users\Kelly\AppData\Local\Temp\pip-build-env-q8izphvh\overlay\Lib\site-packages\pkg_resources\__init__.py", line 2172, in <module>
      register_finder(pkgutil.ImpImporter, find_on_path)
                      ^^^^^^^^^^^^^^^^^^^
  AttributeError: module 'pkgutil' has no attribute 'ImpImporter'. Did you mean: 'zipimporter'?
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

Getting requirements to build wheel did not run successfully.
exit code: 1

See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [1]:
from faker import Faker
import pandas as pd
import numpy as np
import random
from collections import defaultdict
from concurrent.futures import ThreadPoolExecutor
fake = Faker()

In [3]:
files= 'data/data_500.csv'
df_csv = pd.read_csv(files)
df_csv.info()
df_csv.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   idHistory         500 non-null    object
 1   vehicle_type      500 non-null    object
 2   vehicle_name      500 non-null    object
 3   fuel_type         500 non-null    object
 4   machine_capacity  500 non-null    int64
 5   daily_emission    500 non-null    int64
 6   distance          500 non-null    int64
 7   location          500 non-null    object
 8   location_address  500 non-null    object
 9   time_used         500 non-null    object
 10  time_travel       500 non-null    int64
 11  user_id           0 non-null      float64
dtypes: float64(1), int64(4), object(7)
memory usage: 47.0+ KB

       machine_capacity  daily_emission      distance  time_travel  user_id
count        500.000000    5.000000e+02    500.000000   500.000000      0.0
mean         839.950000    2.552776e+06  24738.132000   102.918000      NaN
std          710.711241    1.413948e+06  14316.117136    58.827993      NaN
min          100.000000    1.020300e+04    304.000000     1.000000      NaN
25%          150.000000    1.332468e+06  12334.000000    52.000000      NaN
50%         1000.000000    2.588752e+06  24377.000000   104.000000      NaN
75%         1500.000000    3.826501e+06  37199.250000   154.250000      NaN
max         2000.000000    4.996207e+06  49719.000000   200.000000      NaN

In [4]:
df_csv.head()

,idHistory,vehicle_type,vehicle_name,fuel_type,machine_capacity,daily_emission,distance,location,location_address,time_used,time_travel,user_id
0,2be4f812-81b0-4df2-a831-614e56a15e95,mobil,Suzuki Ertiga,Pertalite,250,805512,1479,Warkop Pak Min,"Turus, Ternyang, Sumberpucung, Malang Regency,...",2023-03-21 00:00:00,120,NaN
1,0acfb7fb-ada5-4a7a-9f78-72645935c820,sepeda motor,Honda Beat,Pertamax Turbo,2000,806546,36364,sabila snack,"Jalan Randupitu-Gunung Gangsir, Pagar Gunung, ...",2023-08-29 00:00:00,159,NaN
2,f7feef39-033e-4a8b-a186-934365248ccc,mobil,Suzuki Ertiga,Diesel,150,4259071,12174,Universitas Yudharta Pasuruan,"Jl. Yudharta, Kembangkuning, Sengonagun, Pasur...",2023-06-05 00:00:00,153,NaN
3,d10cec6b-e90d-42ca-aef6-dfd325022df8,sepeda motor,Kawasaki Ninja,Shell Super,1800,3059045,6517,Pakuwon Mall,"Jalan Mayjend. Jonosewojo, Babatan, Surabaya, ...",2023-06-29 00:00:00,176,NaN
4,d82fbea0-e18e-4738-8725-c2e765496486,mobil,Toyota Avanza,Shell Super,200,3480107,20097,Jalan Semampir Tengah IIA No.17,"Medokan Semampir, Surabaya, East Java, Indonesia",2023-02-20 00:00:00,110,NaN

In [5]:
def generate_data_user(df_csv, num_user):
    user_ids = [fake.unique.uuid4() for _ in range(num_user)]
    
    user_id = (user_ids * (len(df_csv) // num_user))[:len(df_csv)]
    random.shuffle(user_id)
    df_csv['user_id'] = user_id
    
    return df_csv

test = generate_data_user(df_csv, 50)
df_csv.head()

,idHistory,vehicle_type,vehicle_name,fuel_type,machine_capacity,daily_emission,distance,location,location_address,time_used,time_travel,user_id
0,2be4f812-81b0-4df2-a831-614e56a15e95,mobil,Suzuki Ertiga,Pertalite,250,805512,1479,Warkop Pak Min,"Turus, Ternyang, Sumberpucung, Malang Regency,...",2023-03-21 00:00:00,120,ab51ed64-110c-4371-abf3-c053454d3249
1,0acfb7fb-ada5-4a7a-9f78-72645935c820,sepeda motor,Honda Beat,Pertamax Turbo,2000,806546,36364,sabila snack,"Jalan Randupitu-Gunung Gangsir, Pagar Gunung, ...",2023-08-29 00:00:00,159,18e03886-531c-433b-a355-c01ae78317e7
2,f7feef39-033e-4a8b-a186-934365248ccc,mobil,Suzuki Ertiga,Diesel,150,4259071,12174,Universitas Yudharta Pasuruan,"Jl. Yudharta, Kembangkuning, Sengonagun, Pasur...",2023-06-05 00:00:00,153,1f2ab8ba-d278-4706-8bae-246b67ec7d1c
3,d10cec6b-e90d-42ca-aef6-dfd325022df8,sepeda motor,Kawasaki Ninja,Shell Super,1800,3059045,6517,Pakuwon Mall,"Jalan Mayjend. Jonosewojo, Babatan, Surabaya, ...",2023-06-29 00:00:00,176,0c30078e-cfc5-42e3-ad16-ea324bb52907
4,d82fbea0-e18e-4738-8725-c2e765496486,mobil,Toyota Avanza,Shell Super,200,3480107,20097,Jalan Semampir Tengah IIA No.17,"Medokan Semampir, Surabaya, East Java, Indonesia",2023-02-20 00:00:00,110,bdad0791-bb2e-41d2-9611-af86e68df22f

To check if the user_id is well-distributed.

In [6]:
df_csv['user_id'].value_counts()

user_id
ab51ed64-110c-4371-abf3-c053454d3249    10
a1c87533-ebaa-460a-b1ef-ce32ca979b96    10
f49fcf72-bffa-4e93-98f3-06d3d98012d4    10
0ea9db92-beeb-450f-a8fe-610ba9927263    10
084065ac-9e4b-46b7-bbd5-a82e8d6ae959    10
256626f7-6236-402a-80bd-8e62593e17e9    10
96d57223-0dc4-4455-9a63-629b6bd2bc8e    10
2f7291e7-83b8-4398-a818-57a8456b002f    10
802f846b-0194-4e98-ad0e-6752f340578c    10
453a9765-561d-42bf-a05f-5d2486928717    10
2f3cbef2-34c2-4390-9768-b848d71eb3a4    10
2100cc5f-1276-4e38-bfaf-84ae2be02f62    10
4a7a5f68-ea23-489b-8662-1ee618ec4833    10
18e03886-531c-433b-a355-c01ae78317e7    10
c86b48aa-f1e7-4d3d-979b-28be9aaa2f77    10
1c01b85f-c79f-46cf-86d6-0fad7516088b    10
8d1dc405-ae1a-4cc2-ac7c-c6664d01219d    10
541fbfbd-fd5b-413d-a818-4a99af266da5    10
47b0dd20-12d4-44be-8f10-b725d0bf8365    10
97beeec4-2f61-4816-9d14-8496829666b2    10
927ef0ed-06ce-4d87-b181-dfaa9419b092    10
08e3c547-ec33-4776-9754-e6366ccd7a6f    10
9cdea61c-0991-49f4-be79-b2d877405059    10
473ed68c-9675-432c-a730-426d7bafc6d5    10
29ecb73a-7b0c-48f4-a796-28905bb3c22d    10
1381d385-ffe6-4e19-81bb-64c388459106    10
bde69cc7-8b62-4ce8-9f63-08ec9384e48f    10
ac476246-0f11-46f3-99bf-665bd842432e    10
1f2ab8ba-d278-4706-8bae-246b67ec7d1c    10
0c30078e-cfc5-42e3-ad16-ea324bb52907    10
bdad0791-bb2e-41d2-9611-af86e68df22f    10
56d4713f-bb98-47ff-96b4-92776b48ed8d    10
342bf91f-070b-49ea-a250-1c234d952618    10
4ebd4a38-ff6a-4b45-8ad9-af82c865785e    10
f545c5b5-fd51-4dc7-a66b-0beb10e30709    10
7ca9546a-9282-4c01-8f15-1f2864d1ea72    10
f46861d9-40f3-4fd9-a77f-4bba2bf400f2    10
2b1b4963-be3f-41ff-949f-049d16a1af74    10
127e3209-6bfd-4dfa-816a-58bcad2e1c1e    10
6546789a-fae4-4be7-b1c3-ec6205bd506f    10
821ca6d1-7c6a-443f-aa5a-9f9a4e5323b9    10
3ed6b526-1c1a-491d-9b80-72fbc3e8ea3a    10
5591d118-239b-4a3c-a345-a6fd92ff3d1d    10
59f61116-1325-42a9-abb7-1c9eb7151686    10
7453ac66-a68a-4ac4-8ea0-7b3caae78944    10
50281a3e-054d-4c3b-a9c8-2c29c773470c    10
b96da98a-5e23-4406-8683-4c8429a30d40    10
ce665bdd-2645-41c6-8141-14716f399244    10
c67e8365-f889-4338-b3e7-c82f73e1b665    10
0ddc883d-abcd-4322-a6fe-81b5c94add27    10
Name: count, dtype: int64

Check if user_id is all filled.

In [7]:
df_csv['user_id'].isna().sum()

0

### Calculate average of daily emission, distance, counts of motor and mobil.

In [8]:
user_grouped = (
    df_csv.groupby('user_id')
    .agg(
        avg_daily_emission=('daily_emission', 'mean'),
        avg_distance_user=('distance', 'mean'),
        motor_counts=('vehicle_type', lambda x: (x == 'sepeda motor').sum()),
        mobil_counts=('vehicle_type', lambda x: (x == 'mobil').sum())
    )
    .reset_index()
)

user_grouped.head()

,user_id,avg_daily_emission,avg_distance_user,motor_counts,mobil_counts
0,084065ac-9e4b-46b7-bbd5-a82e8d6ae959,3234440.8,23222.1,4,6
1,08e3c547-ec33-4776-9754-e6366ccd7a6f,2271093.1,33472.4,2,8
2,0c30078e-cfc5-42e3-ad16-ea324bb52907,2170561.5,23158.2,8,2
3,0ddc883d-abcd-4322-a6fe-81b5c94add27,1434802.5,27188.7,10,0
4,0ea9db92-beeb-450f-a8fe-610ba9927263,1842863.1,24856.1,5,5

In [9]:
avg_emission_total = user_grouped['avg_daily_emission'].mean()
avg_distance_total = user_grouped['avg_distance_user'].mean()

print(avg_emission_total)
print(avg_distance_total)

2552776.224
24738.132

In [10]:
df_csv = df_csv.merge(user_grouped[['user_id', 'avg_daily_emission', 'avg_distance_user', 'motor_counts', 'mobil_counts']], on='user_id', how='left')

## Creating Challenge Data

In [11]:
challenges = [
    {
        "chal_name": "Eco Commuter",
        "chal_description": "Try using public transportation 3 times a week, reducing your daily emission by 10%.",
        "target_type": "daily_emission",
        "reduction_goal": 0.1
    },
    {
        "chal_name": "Vehicle Switch Challenge",
        "chal_description": "Switch to electric vehicle or bike for a specific amount of kilometers.",
        "target_type": "vehicle_type",
        "required_vehicle": ["EV Car", "EV Cycle"]
    },
    {
        "chal_name": "Green Mile",
        "chal_description": "Walk or use bike for all trips under 3 km.",
        "target_type": "distance",
        "distance_limit": 3000 
    },
    {
        "chal_name": "Zero Emissions Day",
        "chal_description": "Avoid using a car or motorcycle for a whole day and contribute to zero emissions.",
        "target_type": "vehicle_type",
        "required_vehicle": ["Walk", "EV Cycle"] 
    },
    {
        "chal_name": "Park and Walk",
        "chal_description": "Try to reduce your car or motorcycle road trip distance by 20%. Park your vehicle further away and walk the rest of the way. ",
        "target_type": "distance",
        "distance_limit": 0.2
    },
    {
        "chal_name": "Car-Free Commute",
        "chal_description": "Take public transport, bike, or walk for your commute twice this week.",
        "target_type": "vehicle_type",
        "required_vehicle": ["Public Transport", "EV Cycle", "Walk"]
    },
    {
        "chal_name": "Weekend Walkabout",
        "chal_description": "Avoid using a car during the weekend.",
        "target_type": "daily_emission",
        "reduction_goal": 0.15
    },
    {
        "chal_name": "Errand Consolidator",
        "chal_description": "Combine multiple errands into one trip, reducing unnecessary travel.",
        "target_type": "time_travel",
        "reduction_goal": 0.2
    },
    {
        "chal_name": "Local Living",
        "chal_description": "Complete all your errands within a 3 km radius this week.",
        "target_type": "distance",
        "distance_limit": 3000
    },
    {
        "chal_name": "Carbon Saver",
        "chal_description": "Reduce daily emissions by 15% for one week.",
        "target_type": "daily_emission",
        "reduction_goal": 0.15
    },
    {
        "chal_name": "Green Groceries",
        "chal_description": "Walk or bike to the grocery store for all purchases.",
        "target_type": "vehicle_type",
        "required_vehicle": ["Walk", "EV Cycle"]
    },
    {
        "chal_name": "Weekend Warrior",
        "chal_description": "Bike or walk for all weekend activities within 5 km.",
        "target_type": "distance",
        "distance_limit": 5000
    },
    {
        "chal_name": "Nature Stroll",
        "chal_description": "Take a 30-minute walk in nature twice this week instead of a drive.",
        "target_type": "vehicle_type",
        "required_vehicle": "Walk"
    },
    {
        "chal_name": "Emissions Under 10",
        "chal_description": "Keep your daily emissions under 10 kg of CO2 for 7 days.",
        "target_type": "daily_emission",
        "emission_limit": 10000
    },
    {
        "chal_name": "Eco Grocer",
        "chal_description": "Walk or bike for all grocery shopping trips this week.",
        "target_type": "vehicle_type",
        "required_vehicle": ["Walk", "EV Cycle"]
    },
    {
        "chal_name": "School or Workplace Stroll",
        "chal_description": "Walk to school or your workplace 3 times a week.",
        "target_type": "vehicle_type",
        "required_vehicle": "Walk"
    },
    {
        "chal_name": "Daily Stepper",
        "chal_description": "Walk at least 3,000 steps instead of short drives each day.",
        "target_type": ["distance_type", "vehicle_type"],
        "distance_limit": 2400,
        "required_vehicle": "Walk"
    },
    {
        "chal_name": "Eco-Friendly Errand",
        "chal_description": "Complete all errands within 5 km radius by bike or foot.",
        "target_type": "vehicle_type",
        "distance_limit": 5000,
        "required_vehicle": ["EV Cycle", "Walk"]
    },
    {
        "chal_name": "Workday Walk",
        "chal_description": "Take a 15-minute walk after lunch each workday.",
        "target_type": ["time_travel", "vehicle_type"],
        "time_required": 15,
        "vehicle_type": "Walk"
    },
    {
        "chal_name": "Shop Local",
        "chal_description": "Purchase groceries from stores within a 2 km radius.",
        "target_type": "distance",
        "distance_limit": 2000
    },
    {
        "chal_name": "Low Emission Weekend",
        "chal_description": "Limit your emissions to under 5 kg of CO2 over the weekend.",
        "target_type": "daily_emission",
        "emission_limit": 5000
    },
    {
        "chal_name": "One Car-Free Day",
        "chal_description": "Go one day this week without using your car.",
        "target_type": "vehicle_type",
        "required_vehicle": ["Walk", "EV Cycle", "sepeda motor"]
    },
    {
        "chal_name": "Walk the Errands",
        "chal_description": "Complete errands by walking or biking within a 4 km radius.",
        "target_type": ["vehicle_type", "distance"],
        "distance_limit": 4000,
        "required_vehicle": ["Walk", "EV Cycle"]
    },
    {
        "chal_name": "Public Transport Experiment",
        "chal_description": "Use public transport for all work commutes this week.",
        "target_type": "vehicle_type",
        "required_vehicle": "Public Transport"
    },
    {
        "chal_name": "Two-Wheel Transport",
        "chal_description": "Use a bike for all trips under 10 km this week.",
        "target_type": ["vehicle_type", "distance"],
        "distance_limit": 10000,
        "required_vehicle": ["Bike", "EV Cycle", ]
    },
    {
        "chal_name": "Weekend Walkathon",
        "chal_description": "Walk at least 5 km this weekend instead of driving.",
        "target_type": ["distance","vehicle_type"],
        "distance_goal": 5000,
        "required_vehicle": "Walk"
    },
    {
        "chal_name": "Eco Friend Meetup",
        "chal_description": "Plan a meetup within 2 km to reduce emissions.",
        "target_type": "distance",
        "distance_limit": 2000
    },
    {
        "chal_name": "Cycle Commute Challenge", 
        "chal_description": "Cycle to work at least 2 times this week.",
        "target_type": "vehicle_type",
        "required_vehicle": "Bike"
    },
    {
        "chal_name": "Ride Share",
        "chal_description": "Share rides for all trips longer than 10 km.",
        "target_type": "distance",
        "distance_limit": 10000
    },
      {
        "chal_name": "Two-Wheel Transport",
        "chal_description": "Use a bike or motorcycle for all trips under 10 km this week.",
        "target_type": ["vehicle_type", "distance"],
        "distance_limit": 10000,
        "required_vehicle": ["EV Cycle", "Motorcycle"]
    },
]

In [12]:
for i, challenge in enumerate(challenges, start=1):
    challenge["challenge_id"] = f"CHALLENGE{i:03d}"
    
for challenge in challenges:
    print(challenge)

{'chal_name': 'Eco Commuter', 'chal_description': 'Try using public transportation 3 times a week, reducing your daily emission by 10%.', 'target_type': 'daily_emission', 'reduction_goal': 0.1, 'challenge_id': 'CHALLENGE001'}
{'chal_name': 'Vehicle Switch Challenge', 'chal_description': 'Switch to electric vehicle or bike for a specific amount of kilometers.', 'target_type': 'vehicle_type', 'required_vehicle': ['EV Car', 'EV Cycle'], 'challenge_id': 'CHALLENGE002'}
{'chal_name': 'Green Mile', 'chal_description': 'Walk or use bike for all trips under 3 km.', 'target_type': 'distance', 'distance_limit': 3000, 'challenge_id': 'CHALLENGE003'}
{'chal_name': 'Zero Emissions Day', 'chal_description': 'Avoid using a car or motorcycle for a whole day and contribute to zero emissions.', 'target_type': 'vehicle_type', 'required_vehicle': ['Walk', 'EV Cycle'], 'challenge_id': 'CHALLENGE004'}
{'chal_name': 'Park and Walk', 'chal_description': 'Try to reduce your car or motorcycle road trip distance by 20%. Park your vehicle further away and walk the rest of the way. ', 'target_type': 'distance', 'distance_limit': 0.2, 'challenge_id': 'CHALLENGE005'}
{'chal_name': 'Car-Free Commute', 'chal_description': 'Take public transport, bike, or walk for your commute twice this week.', 'target_type': 'vehicle_type', 'required_vehicle': ['Public Transport', 'EV Cycle', 'Walk'], 'challenge_id': 'CHALLENGE006'}
{'chal_name': 'Weekend Walkabout', 'chal_description': 'Avoid using a car during the weekend.', 'target_type': 'daily_emission', 'reduction_goal': 0.15, 'challenge_id': 'CHALLENGE007'}
{'chal_name': 'Errand Consolidator', 'chal_description': 'Combine multiple errands into one trip, reducing unnecessary travel.', 'target_type': 'time_travel', 'reduction_goal': 0.2, 'challenge_id': 'CHALLENGE008'}
{'chal_name': 'Local Living', 'chal_description': 'Complete all your errands within a 3 km radius this week.', 'target_type': 'distance', 'distance_limit': 3000, 'challenge_id': 'CHALLENGE009'}
{'chal_name': 'Carbon Saver', 'chal_description': 'Reduce daily emissions by 15% for one week.', 'target_type': 'daily_emission', 'reduction_goal': 0.15, 'challenge_id': 'CHALLENGE010'}
{'chal_name': 'Green Groceries', 'chal_description': 'Walk or bike to the grocery store for all purchases.', 'target_type': 'vehicle_type', 'required_vehicle': ['Walk', 'EV Cycle'], 'challenge_id': 'CHALLENGE011'}
{'chal_name': 'Weekend Warrior', 'chal_description': 'Bike or walk for all weekend activities within 5 km.', 'target_type': 'distance', 'distance_limit': 5000, 'challenge_id': 'CHALLENGE012'}
{'chal_name': 'Nature Stroll', 'chal_description': 'Take a 30-minute walk in nature twice this week instead of a drive.', 'target_type': 'vehicle_type', 'required_vehicle': 'Walk', 'challenge_id': 'CHALLENGE013'}
{'chal_name': 'Emissions Under 10', 'chal_description': 'Keep your daily emissions under 10 kg of CO2 for 7 days.', 'target_type': 'daily_emission', 'emission_limit': 10000, 'challenge_id': 'CHALLENGE014'}
{'chal_name': 'Eco Grocer', 'chal_description': 'Walk or bike for all grocery shopping trips this week.', 'target_type': 'vehicle_type', 'required_vehicle': ['Walk', 'EV Cycle'], 'challenge_id': 'CHALLENGE015'}
{'chal_name': 'School or Workplace Stroll', 'chal_description': 'Walk to school or your workplace 3 times a week.', 'target_type': 'vehicle_type', 'required_vehicle': 'Walk', 'challenge_id': 'CHALLENGE016'}
{'chal_name': 'Daily Stepper', 'chal_description': 'Walk at least 3,000 steps instead of short drives each day.', 'target_type': ['distance_type', 'vehicle_type'], 'distance_limit': 2400, 'required_vehicle': 'Walk', 'challenge_id': 'CHALLENGE017'}
{'chal_name': 'Eco-Friendly Errand', 'chal_description': 'Complete all errands within 5 km radius by bike or foot.', 'target_type': 'vehicle_type', 'distance_limit': 5000, 'required_vehicle': ['EV Cycle', 'Walk'], 'challenge_id': 'CHALLENGE018'}
{'chal_name': 'Workday Walk', 'chal_description': 'Take a 15-minute walk after lunch each workday.', 'target_type': ['time_travel', 'vehicle_type'], 'time_required': 15, 'vehicle_type': 'Walk', 'challenge_id': 'CHALLENGE019'}
{'chal_name': 'Shop Local', 'chal_description': 'Purchase groceries from stores within a 2 km radius.', 'target_type': 'distance', 'distance_limit': 2000, 'challenge_id': 'CHALLENGE020'}
{'chal_name': 'Low Emission Weekend', 'chal_description': 'Limit your emissions to under 5 kg of CO2 over the weekend.', 'target_type': 'daily_emission', 'emission_limit': 5000, 'challenge_id': 'CHALLENGE021'}
{'chal_name': 'One Car-Free Day', 'chal_description': 'Go one day this week without using your car.', 'target_type': 'vehicle_type', 'required_vehicle': ['Walk', 'EV Cycle', 'sepeda motor'], 'challenge_id': 'CHALLENGE022'}
{'chal_name': 'Walk the Errands', 'chal_description': 'Complete errands by walking or biking within a 4 km radius.', 'target_type': ['vehicle_type', 'distance'], 'distance_limit': 4000, 'required_vehicle': ['Walk', 'EV Cycle'], 'challenge_id': 'CHALLENGE023'}
{'chal_name': 'Public Transport Experiment', 'chal_description': 'Use public transport for all work commutes this week.', 'target_type': 'vehicle_type', 'required_vehicle': 'Public Transport', 'challenge_id': 'CHALLENGE024'}
{'chal_name': 'Two-Wheel Transport', 'chal_description': 'Use a bike for all trips under 10 km this week.', 'target_type': ['vehicle_type', 'distance'], 'distance_limit': 10000, 'required_vehicle': ['Bike', 'EV Cycle'], 'challenge_id': 'CHALLENGE025'}
{'chal_name': 'Weekend Walkathon', 'chal_description': 'Walk at least 5 km this weekend instead of driving.', 'target_type': ['distance', 'vehicle_type'], 'distance_goal': 5000, 'required_vehicle': 'Walk', 'challenge_id': 'CHALLENGE026'}
{'chal_name': 'Eco Friend Meetup', 'chal_description': 'Plan a meetup within 2 km to reduce emissions.', 'target_type': 'distance', 'distance_limit': 2000, 'challenge_id': 'CHALLENGE027'}
{'chal_name': 'Cycle Commute Challenge', 'chal_description': 'Cycle to work at least 2 times this week.', 'target_type': 'vehicle_type', 'required_vehicle': 'Bike', 'challenge_id': 'CHALLENGE028'}
{'chal_name': 'Ride Share', 'chal_description': 'Share rides for all trips longer than 10 km.', 'target_type': 'distance', 'distance_limit': 10000, 'challenge_id': 'CHALLENGE029'}
{'chal_name': 'Two-Wheel Transport', 'chal_description': 'Use a bike or motorcycle for all trips under 10 km this week.', 'target_type': ['vehicle_type', 'distance'], 'distance_limit': 10000, 'required_vehicle': ['EV Cycle', 'Motorcycle'], 'challenge_id': 'CHALLENGE030'}

### Condition for assigning challenge according to user habit

In [13]:
def check_challenge_condition(row, avg_emission_total, avg_distance_total, challenge):
    user_id = row['user_id']
    
    if challenge['target_type'] == 'daily_emission':
        if 'reduction_goal' in challenge and row['avg_daily_emission'] >= avg_emission_total * (1 - challenge['reduction_goal']):
            return (user_id, challenge['challenge_id'])

    elif challenge['target_type'] == 'distance':
        if 'distance_limit' in challenge and row['avg_distance_user'] >= avg_distance_total * (1 - challenge['distance_limit']):
            return (user_id, challenge['challenge_id'])

    elif challenge['target_type'] == 'vehicle_type':
        if 'required_vehicle' in challenge and any(vehicle_type not in challenge['required_vehicle'] for vehicle_type in ['sepeda_motor', 'mobil']):
            if (row['motor_counts'] >= 5) or (row['mobil_counts'] >= 4):
                return (user_id, challenge['challenge_id'])

    return (None, None)

In [14]:
def assign_challenges(df_csv, challenges, avg_emission_total, avg_distance_total):
    
    user_challenges = defaultdict(list)

    user_ids = df_csv['user_id'].unique()
        
    for user_id in user_ids:
        user_rows = df_csv[df_csv['user_id'] == user_id]
        
        random.shuffle(challenges)
        
        challenge_count = 0
        for _, row in user_rows.iterrows():
            if challenge_count < 10:
                for challenge in challenges:
                    if challenge['challenge_id'] not in user_challenges[user_id]:
                        challenge_result = check_challenge_condition(row, avg_emission_total, avg_distance_total, challenge)
                        if challenge_result != (None, None):
                            df_csv.loc[row.name, 'challenge_id'] = challenge['challenge_id']
                            df_csv.loc[row.name, 'chal_name'] = challenge['chal_name']
                            user_challenges[user_id].append(challenge['challenge_id'])
                            challenge_count += 1
                            break 

    return df_csv

In [15]:
user_grouped_with_challenges = assign_challenges(df_csv, challenges, avg_emission_total, avg_distance_total)

In [16]:
user_grouped_with_challenges.head()

,idHistory,vehicle_type,vehicle_name,fuel_type,machine_capacity,daily_emission,distance,location,location_address,time_used,time_travel,user_id,avg_daily_emission,avg_distance_user,motor_counts,mobil_counts,challenge_id,chal_name
0,2be4f812-81b0-4df2-a831-614e56a15e95,mobil,Suzuki Ertiga,Pertalite,250,805512,1479,Warkop Pak Min,"Turus, Ternyang, Sumberpucung, Malang Regency,...",2023-03-21 00:00:00,120,ab51ed64-110c-4371-abf3-c053454d3249,2157993.3,24571.6,6,4,CHALLENGE012,Weekend Warrior
1,0acfb7fb-ada5-4a7a-9f78-72645935c820,sepeda motor,Honda Beat,Pertamax Turbo,2000,806546,36364,sabila snack,"Jalan Randupitu-Gunung Gangsir, Pagar Gunung, ...",2023-08-29 00:00:00,159,18e03886-531c-433b-a355-c01ae78317e7,3179697.0,25646.7,4,6,CHALLENGE020,Shop Local
2,f7feef39-033e-4a8b-a186-934365248ccc,mobil,Suzuki Ertiga,Diesel,150,4259071,12174,Universitas Yudharta Pasuruan,"Jl. Yudharta, Kembangkuning, Sengonagun, Pasur...",2023-06-05 00:00:00,153,1f2ab8ba-d278-4706-8bae-246b67ec7d1c,3488576.1,27882.9,7,3,CHALLENGE016,School or Workplace Stroll
3,d10cec6b-e90d-42ca-aef6-dfd325022df8,sepeda motor,Kawasaki Ninja,Shell Super,1800,3059045,6517,Pakuwon Mall,"Jalan Mayjend. Jonosewojo, Babatan, Surabaya, ...",2023-06-29 00:00:00,176,0c30078e-cfc5-42e3-ad16-ea324bb52907,2170561.5,23158.2,8,2,CHALLENGE005,Park and Walk
4,d82fbea0-e18e-4738-8725-c2e765496486,mobil,Toyota Avanza,Shell Super,200,3480107,20097,Jalan Semampir Tengah IIA No.17,"Medokan Semampir, Surabaya, East Java, Indonesia",2023-02-20 00:00:00,110,bdad0791-bb2e-41d2-9611-af86e68df22f,2882950.0,17144.4,7,3,CHALLENGE012,Weekend Warrior

In [17]:
challenge_grouped = df_csv.groupby('user_id')
count_challenge= challenge_grouped['challenge_id'].value_counts()
print(count_challenge)

user_id                               challenge_id
084065ac-9e4b-46b7-bbd5-a82e8d6ae959  CHALLENGE003    1
                                      CHALLENGE009    1
                                      CHALLENGE010    1
                                      CHALLENGE012    1
                                      CHALLENGE013    1
                                                     ..
f545c5b5-fd51-4dc7-a66b-0beb10e30709  CHALLENGE013    1
                                      CHALLENGE016    1
                                      CHALLENGE018    1
                                      CHALLENGE020    1
                                      CHALLENGE024    1
Name: count, Length: 500, dtype: int64

In [18]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   idHistory           500 non-null    object
 1   vehicle_type        500 non-null    object
 2   vehicle_name        500 non-null    object
 3   fuel_type           500 non-null    object
 4   machine_capacity    500 non-null    int64
 5   daily_emission      500 non-null    int64
 6   distance            500 non-null    int64
 7   location            500 non-null    object
 8   location_address    500 non-null    object
 9   time_used           500 non-null    object
 10  time_travel         500 non-null    int64
 11  user_id             500 non-null    object
 12  avg_daily_emission  500 non-null    float64
 13  avg_distance_user   500 non-null    float64
 14  motor_counts        500 non-null    int64
 15  mobil_counts        500 non-null    int64
 16  challenge_id        500 non-null    object
 17  chal_name           500 non-null    object
dtypes: float64(2), int64(6), object(10)
memory usage: 70.4+ KB

In [19]:
df_csv.describe(include='all')

,idHistory,vehicle_type,vehicle_name,fuel_type,machine_capacity,daily_emission,distance,location,location_address,time_used,time_travel,user_id,avg_daily_emission,avg_distance_user,motor_counts,mobil_counts,challenge_id,chal_name
count,500,500,500,500,500.000000,5.000000e+02,500.000000,500,500,500,500.000000,500,5.000000e+02,500.000000,500.000000,500.000000,500,500
unique,500,2,10,5,NaN,NaN,NaN,33,33,272,NaN,50,NaN,NaN,NaN,NaN,21,21
top,2be4f812-81b0-4df2-a831-614e56a15e95,sepeda motor,Suzuki GSX,Pertamax Turbo,NaN,NaN,NaN,Gubeng Railway Station,"Jalan Gubeng Masjid, Airlangga, Surabaya, Jawa...",2023-11-05 00:00:00,NaN,ab51ed64-110c-4371-abf3-c053454d3249,NaN,NaN,NaN,NaN,CHALLENGE012,Weekend Warrior
freq,1,253,54,109,NaN,NaN,NaN,96,95,5,NaN,10,NaN,NaN,NaN,NaN,32,32
mean,NaN,NaN,NaN,NaN,839.950000,2.552776e+06,24738.132000,NaN,NaN,NaN,102.918000,NaN,2.552776e+06,24738.132000,5.060000,4.940000,NaN,NaN
std,NaN,NaN,NaN,NaN,710.711241,1.413948e+06,14316.117136,NaN,NaN,NaN,58.827993,NaN,4.583832e+05,4676.529596,1.772762,1.772762,NaN,NaN
min,NaN,NaN,NaN,NaN,100.000000,1.020300e+04,304.000000,NaN,NaN,NaN,1.000000,NaN,1.434802e+06,13198.600000,1.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,150.000000,1.332468e+06,12334.000000,NaN,NaN,NaN,52.000000,NaN,2.170562e+06,22335.400000,4.000000,4.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,1000.000000,2.588752e+06,24377.000000,NaN,NaN,NaN,104.000000,NaN,2.614271e+06,24770.600000,5.000000,5.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,1500.000000,3.826501e+06,37199.250000,NaN,NaN,NaN,154.250000,NaN,2.860108e+06,26817.000000,6.000000,6.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,2000.000000,4.996207e+06,49719.000000,NaN,NaN,NaN,200.000000,NaN,3.488576e+06,38632.500000,10.000000,9.000000,NaN,NaN

In [20]:
num_challenges = df_csv['challenge_id'].nunique()
print(num_challenges)

21

In [43]:
df_csv.to_csv('data/data_challenge.csv', index=False)